h2 {
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.expense-card {
    margin-bottom: 10px;
    border-bottom: 2px beige;
}

.card-desc{
    font-size: medium;
    font-weight: bold;
}

.card-date {
    font-size: small;
    color: grey;
}

.card-user {
    font-size: small;
    color: #adff009c;
}

.card-other-user {
    font-size: small;
    color: grey;
    /* color: #adff00; */
}

.card-amount {
    float:right;
    font-weight: bold;
    color: #d60c71f0;
}

.card-mode {
    padding-top: 5px;
    float:right;
    color: grey;
    font-size:small;
    text-transform: uppercase;
}

.expense-extend-row{
    height: auto;
    transition: height 0.25s ease-in;
}

.expense-extend {
    text-align: center;
    margin: 1rem auto;
}

.expense-extend .btn {
    width: 100%;
}

.list-divider{
    width: 43%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 30%;
    border-radius: 19px;
}