

input {
    background-color: transparent !important;
    color: white !important;
}

select {
    background-color: transparent !important;
    color: white !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(143, 141, 141);
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(143, 141, 141);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(143, 141, 141);
}