.footer-menu {
    background-color: #1d273f;
    border-radius: 50px 50px 0px 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    box-shadow: 54px 0px 72px 24px rgba(102, 127, 169, 0.238);
  }
  
  .footer-nav {
    align-items: baseline;
  }
  
  .nav-link {
    padding-left: 1rem !important;
    padding-right:1rem !important;
  }