.expense-card {
    margin-bottom: 10px;
    height:85px;
}

.card-desc{
}

.card-date {
    color: grey;
}

.card-amount {
    float:right;
    font-weight: bold;
}

.card-mode {
    padding-top: 5px;
    float:right;
    color: grey;
    font-size:small;
    text-transform: uppercase;
}