.login {
  background-color: hsl(218, 37%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #101723;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.outlet {
  padding-bottom: 5rem !important;
}

